body{
    width: 97vw;
    height: 90vh;
    background: url(img/Usain\ Bolt\ Wallpaper\ Puma\ Running\ Speed\ -\ 2022\ Live\ Wallpaper\ HD.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

div{
    text-align: center;
}
div button:hover{
    cursor: pointer;
}

h1{
    color: #FFFFFF;
    font-size: 2.5em;
}

.iniciar{
    font-size: 18px;
    margin: 4px;
    color: rgb(255, 255, 255);
    background-color: green;
    border: none;
}

.pausar{
    font-size: 18px;
    margin: 4px;
    color: rgb(255, 255, 255);
    background-color:gray;
    border: none;
}

.parar{
    font-size: 18px;
    margin: 4px;
    color: rgb(255, 255, 255);
    background-color: red;
    border: none;
}